@import 'tailwindcss';

@theme {
  --color-primary: hsl(275, 93%, 29%);
  --color-primary-light: hsl(277, 60%, 43%);
  --color-primary-accent: hsl(276, 76%, 36%);
  --color-dark: hsl(240, 2%, 10%);
  --color-accent: hsl(208, 68%, 16%);
  --color-muted: hsl(218, 17%, 62%);
  --color-light: hsl(0, 0%, 75%);
  --color-background: hsl(0, 0%, 95%);
}

:root {
  --font-family: 'Lexend Deca', sans-serif;
  --font-lumenzia: 'Audiowide', sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-background);
  margin-top: 50px;
}
